logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
.idea_modules
.classpath
.project
.metadata
.cache
RUNNING_PID
.settings
*.class
derby.log
metastore
.DS_Store
exercises/output/airline*
exercises/output/crawl*
exercises/output/sh*
exercises/output/kjv*
exercises/output/inverted*
exercises/output/spark-sql*
exercises/output/streaming*
exercises/output/voldat*
exercises/output/*.parquet
exercises/output/checkpoints
exercises/project/.sbtserver
exercises/project/.sbtserver.lock
exercises/project/play-fork-run.sbt
exercises/project/sbt-ui.sbt
exercises/data/checkpoint
.svn
tmp/**
node_modules/
.sass-cache
